* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
html {
    color: #333;
    /* font-size: 62.5%; */
    font-family: "Open Sans", sans-serif;
}

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
    --white-color: #fff;
    --black-color: rgb(39, 32, 32);
    --text-color: #333;
}

.clearfix:before,
.row:before,
.container:before {
    display: table;
    content: " ";
}

.clearfix:after,
.row:after,
.container:after {
    clear: both;
}

.breadcrumb-shop {
    background: #fafafa;
    margin-bottom: 20px;
}
/* 
@media (min-width: 992px)
.container {
    width: 970px;
}

@media (min-width: 768px)
.container {
    width: 750px;
} */

/* breadcrumb */

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb-shop .breadcrumb-arrows {
    padding: 15px 0;
    background: transparent;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
}

.breadcrumb-shop .breadcrumb-arrows li {
    font-size: 13px;
}

.breadcrumb>li {
    display: inline-block;
}

/* li {
    display: list-item;
    text-align: -webkit-match-parent;
} */

/* a {
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
} */

a {
    color: #272727;
    text-decoration: none;
    outline: none;
    /* -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear; */
}

.breadcrumb-shop .breadcrumb>li+li:before {
    padding: 0 3px;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}



ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* container */

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.block .title_block {
    display: block;
    font-size: 14px;
    margin: 0 0 5px;
    font-weight: 700;
    text-transform: uppercase;
    background: #f2f5fa;
    padding: 8px 15px;
}


.block .block_content {
    overflow-y: auto;
    /* Auto:
    Nếu chiều cao phần nội dung lớn hơn chiều cao phần tử thì phần tử sẽ hiển thị thanh scroll dọc. */
    overflow-x: hidden;
    /* Hidden:
    Nếu chiều cao phần nội dung lớn hơn chiều cao phần tử thì phần nội dung dư thừa sẽ bị ẩn đi
     */
}

.visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none!important;
}

.menuList-links > li {
    border-bottom: 1px dashed #e7e7e7;
}

/* .menuList-links li {
    position: relative;
} */

.menuList-links > li.has-submenu >a {
    padding-right: 30px;
}

.menuList-links > li > a {
    color: #272727;
    padding: 12px 0;
    font-weight: 500;
    font-size: 14px;
}

.menuList-links li a {
    position: relative;
    font-size: 13px;
    display: block;
}

.menuList-links > li.has-submenu span.icon-plus-submenu {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid black;
}

ul.submenu-links li a {
    padding: 8px 0 8px 0px;
    font-size: 12px;
}

/* submenu icon plus  */
.icon-plus-submenu:before {
    width: 10px;
    height: 1px;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


.icon-plus-submenu:after {
    width: 1px;
    height: 9px;
    left: 11px;
    transform-origin: center;
    -moz-transform: translateY(-50%) scale(1, 1);
    -ms-transform: translateY(-50%) scale(1, 1);
    -webkit-transform: translateY(-50%) scale(1, 1);
    transform: translateY(-50%) scale(1, 1);
}
.icon-plus-submenu:after, .icon-plus-submenu:before {
    background: rgba(9,9,9,0.6);
    content: '';
    display: block;
    position: absolute;
    margin-right: 7px;
    top: 50%;
    right: 0;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
}

.submenu-links {
    display: none;
}

.submenu-links.opened {
    display: block;
}

/* Filter Brand */

.layered .layered_subtitle {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 0 10px;
    cursor: pointer;
    position: relative;
}

.layered .layered_subtitle span {
    font-weight: 600;
    font-size: 13px;
}

.layered span.icon-control {
    position: relative;
    top: -2px;
    left: 5px;
    font-size: 8px;
}

.check-box-list {
    margin: 0 0 10px;
}

.check-box-list li {
    line-height: 24px;
    font-size: 14px;
}

.bl-filter [type="checkbox"]:not(:checked), .bl-filter [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.check-box-list input[type="checkbox"] {
    display: none;
}

input[type=radio], input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.bl-filter [type="checkbox"]:not(:checked) + label, .bl-filter [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
}

.check-box-list label {
    display: inline-block;
    cursor: pointer;
    line-height: 18px;
    font-weight: normal;
    margin-bottom: 0;
    color: #272727;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.bl-filter [type="checkbox"]:not(:checked) + label:before, .bl-filter [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 14px;
    height: 14px;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 2px;
}

/* Những ô chưa check thì sẽ cho opcity = 0 */
.bl-filter [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

.bl-filter [type="checkbox"]:not(:checked) + label:after, .bl-filter [type="checkbox"]:checked + label:after {
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: '';
    border-width: 0 0 2px 2px !important;
    height: 4px;
    width: 7px;
    border: solid #111;
    margin: 9px 0 0 4px;
    left: 0;
    top: -3px;
    transition: all .2s;
}


/* Category right */
.col-md-9 {
    /* min-width: 992px; */
    width: 75%;
    padding: 0 15px;

}

.col-md-3,
.col-md-9 {
    float: left;
}

.col-md-8 .title {
    /* vertical-align: top; */
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

/* .wrap-collection-title .heading-collection {
    margin: 30px 0;
} */

.wrap-collection-title .heading-collection h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    text-align: start;
}


/* Class="product-img" */

.pro-loop {
    display: block;
    position: relative;
    overflow: hidden;
    /* height: 100%; */
    background: #fff;
    margin-bottom: 30px;
    text-align: center;
}


/* Nhãn dán hình ảnh giảm giá */
.pro-loop .product-image .product-sale {
    top: 10px;
    left: 10px;
    /* color: #f94c43; */
    display: none;
}

.pro-loop .product-sale span {
    color: #f94c43;
}

.pro-loop a {
    display: block;
}

.pro-loop .product-image .product-sale, .pro-loop .product-image .sold-out {
    position: absolute;
    font-size: 12px;
    line-height: 1;
    padding: 5px 10px;
    font-weight: bold;
    z-index: 9;
    color: #272727;
    background: #ff0;
}

.pro-loop .product-image img:hover {
    transform: scale(1.1);
}

.pro-loop .product-image img {
    transition: transform .2s;
}

.pro-loop .product-image picture {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.pro-loop .product-image img {
    transition: transform .2s;
    max-width: 100%;
}

/* Button */
.pro-loop .product-image {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.pro-loop .product-image .button-add {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    left: 0;
    bottom: -10%;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.pro-loop:hover .product-image .button-add {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}


.pro-loop .product-image button, .box-pro-prices + button {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    border: 0;
    background: #191919;
    color: #fff;
    width: 100%;
    padding: 8px 5px;
    margin-right: 5px;
    outline: none;
    transition: all ease 0.5s;
}

.pro-loop .button-add button:hover {
    color: var(--pink);
}

/* class="product-detail */

/* Detail */
.pro-loop .product-detail {
    padding: 20px 0;
    text-align: center;
}

.product-detail .box-pro-detail {
    z-index: 9;
    width: 100%;
}

.product-detail .box-pro-detail .product-brand a {
    color: #777777;
}

.product-detail .box-pro-detail .product-brand {
    margin: 0 0 5px;
}

.pro-loop .product-detail h3 {
    margin: 0 0 5px;
    font-size: 15px;
    position: relative;
}

.pro-loop .product-detail h3 a {
    color: #272727;
    line-height: 16px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

/* price */
.box-pro-prices .pro-price.highlight {
    color: #f94c43;
}

.box-pro-prices .pro-price {
    font-size: 15px;
    margin: 0;
    font-weight: 700;
}

.box-pro-prices .pro-price .pro-price-del {
    color: #939393;
    font-size: 13px;
    margin-left: 5px;
    font-weight: normal;
}

