.product-detail-main {
    margin-bottom: 40px;
}

.product-gallery {
    display: flex;
}

.product-image {
    width: 81%;
    padding-left: 10px;
    position: relative;
}

.product-image img {
    width: 100%;
}

.product-title {
    padding: 0 0 10px;
    border-bottom: 1px solid #dfe0e1;
}

.product-title h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px;
    line-height: initial;
}

.pro_sku {
    font-size: 12px;
    font-weight: bold;
}

.content-price {
    position: relative;
}

.product-price {
    padding: 10px 0;
    text-align: left;
}

.product-price span.pro-price {
    font-size: 24px;
    opacity: .92;
    font-weight: bold;
    color: red;
}

.product-price del {
    font-size: 16px;
    color: #777a7b;
    padding-left: 10px;
    font-weight: 500;
}

.content-price span.pro-soldold {
    position: absolute;
    bottom: 12px;
    right: 0px;
    font-weight: bold;
}

/* Select size: */
.select-swatch .swatch {
    padding: 15px 0px;
    border-bottom: 1px solid #dfe0e1 !important;
}

.swatch {
    padding: 10px 0;
    width: 100%;
    float: left;
    border-bottom: 1px dotted #dfe0e1;
}

.swatch .header {
    margin: 0 0 8px;
    font-size: 13px;
    text-align: left;
    line-height: initial;
}

.swatch .select-swap {
    display: inline-block;
    vertical-align: middle;
}

.swatch .swatch-element:not(.color) {
    position: relative;
    min-width: calc(100% / 3 - 11px);
}

.swatch .swatch-element {
    display: inline-block;
    margin-right: 8px;
    vertical-align: bottom;
}

.swatch input {
    display: none;
}

input[type=radio], input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

.swatch .swatch-element:not(.color) label {
    position: absolute;
    bottom: 0px;
    width: 90px;
    margin-left: 10px;
    overflow: hidden;
}

.swatch .swatch-element label.sd {
    border: 1px solid #000;
    background: #000;
    color: #fff;
}

.swatch .swatch-element label {
    display: block;
    margin: 0;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    padding: 0px 8px;
    text-transform: uppercase;
}

img.icon-variant {
    margin-bottom: 50px;
}


.swatch-element img {
    width: 100px;
}

/* Select color */
.select-swap.color {
    width: 100%;
}

.swatch .select-swap {
    display: inline-block;
    vertical-align: middle;
}

.swatch .color label {
    width: 52px;
    height: 52px;
    padding: 1px;
    border-radius: 50%;
    border: none;
}
.swatch label {
    display: block;
    margin: 0;
    background: #fff;
    height: 40px;
    line-height: 40px;
    position: relative;
    border: 1px solid #e5e5e5;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    padding: 0px 8px;
}

.swatch .color .sd {
    background: transparent;
    border: 2px solid #000;
}

.swatch .color span {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0;
    font-size: 0;
    border-radius: 50%;
    border: 1px solid #f5f5f5;
}

/* Select actions */

.selector-actions {
    width: 100%;
    margin-top: 15px;
}

.quantity-area {
    margin-bottom: 15px;
}

.quantity-area span {
    float: left; 
    margin-right:10px; 
    line-height: 32px
}

.quantity-area input.qty-btn {
    float: left;
    background: #f3f4f4;
    border: solid 1px #f3f4f4;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 0;
}

.quantity-area #quantity {
    background: #fff;
    font-weight: 600;
    height: 32px;
    padding: 0;
    text-align: center;
    width: 70px;
    border: 1px solid #f3f4f4;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    float: left;
    -webkit-appearance: none;
}

/* Button add to cart  and buy now*/
.row-flex {
    display: flex;
    align-items: center;
}

.row-flex .button,
.row-flex .buy-now,
.row-flex .disable-to-cart {
    position: relative;
    display: inline-block;
    color: #fff;
    border-radius: 0;
    text-align: center;
    letter-spacing: 1px;
    background-color: transparent;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    overflow: hidden;
}

a .btn-check,
.row-flex .btn-addtocart,
.row-flex .buy-now,
.row-flex .disable-to-cart {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: none;
    padding: 14px 15px;
    line-height: 22px;
    width: 100%;
    margin-bottom: 15px;
}

.row-flex .btn-addtocart {
    border: 1px solid #ffcb04;
    background-color: #ffcb04;

}

.row-flex .buy-now {
    margin-left: 15px;
    border: 1px solid #4a90e2;
    background-color: #4a90e2;
}

.row-flex .disable-to-cart {
    opacity: 0.8;
    background-color: orangered;
}


.btn-addtocart:hover,
.buy-now:hover {
    color: #252a2b;
}

/* Description */
.product-description {
    margin: 20px 0 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #e7e7e7;
}

.product-description .title-bl h2
{
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
}

.content-product p {
    margin: 0 0 10px 0;
    line-height: 21px;
}

/* Related products */
.heading-title h2 {
    font-size: 28px;
    line-height: 1.6;
    margin: 0 0 60px;
    font-weight: 500;
    position: relative;
    padding: 15px 0 15px;
    display: inline-block;
}

.heading-title h2:before {
    position: absolute;
    content: "";
    display: block;
    width: 55px;
    height: 1px;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #000000;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.related-product-list .pro-loop {
    width: 20%;
}
