@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
    --white-color: #fff;
    --black-color: rgb(39, 32, 32);
    --text-color: #333;
}

* {
    box-sizing: inherit;
        font-family: 'Quicksand', sans-serif;
}


html {
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

/* responsive */

@media(max-width:1200px) {
    .navbar1 .header__options .phoneContact,
    .navbar1 .header__options .btns-login--seperate,
    .navbar1 .header__options .btns-register
    {
        display: none;
    }
    .navbar2 .navbar-toggler-icon {
        display: inline-block;
        float: left;
    }
}


/* Header_first */

.header__first {
    width: 100%;
    height: 60px;
}

/* Header Search */

.header__search .search-bar {
    width: 350px;
    margin-bottom: 0px;
    position: relative;
    display: table;
    border-collapse: separate;
}

.header__search .input-group-btn {
    position: absolute;
    white-space: nowrap;
    right: 20px;
    top: 2px;
    text-align: center;
    width: 45px;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    /* border-radius: 45px; */
    right: 0px;
    border: none;
}

.header__search .search-bar .input-group-field {
    width: 100%;
    margin-left: 0;
    margin-top: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0 70px 0 20px;
    font-size: 13px;
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 300;
    max-width: 100%;
    display: block;
    outline: none;
    border: solid 1px #e5e6ec;
    /* border-radius: 45px; */
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.header__search .btn icon-fallback-text {
    background: #ffffff;
    color: #000000;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    width: 35px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 45px;
    box-shadow: none;
}

.header__search .search_bx2 {
    position: absolute; 
    width: 350px;
    height: 300px;
    /* border: 1px solid #fff; */
    z-index: 9;
    /* background: rgb(184, 184, 184, 0.3); */
    background: #fff;
    /* border-radius: 10px; */
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: .3s linear;
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 10%);
}

.header__search .search_bx2::-webkit-scrollbar-thumb {
    background: rgb(184, 184, 184, .7);
    border-radius: 20px;
}

.search_bx2 .item-search {
    padding: 5px 0;
    border-bottom: 1px dotted #dfe0e1;
    clear: both;
    width: 100%;
    float: left;
}

.search_bx2 .item-search .thumbs {
    width: 50px;
    display: inline-block;
    text-align: right;
}

.search_bx2 .item-search .thumbs img{
    width: 100%;
}

.search_bx2 .item-search .title2 {
    width: calc(100% - 50px);
    padding-left: 10px;
    float: left;
    line-height: 40px;
    position: relative;
    margin-top: 0px!important;
}

.search_bx2 .item-search .title2 a {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: pre; */
    float: left;
    width: 100%;
    margin-bottom: 4px;
    display: inline-block;
}

.search_bx2 .item-search .title2 p {
    line-height: 15px;
    font-size: 12px;
    font-weight: 400;
    float: left;
    margin: 0;
}

.search_bx2 .item-search:hover {
    background: rgb(184, 184, 184, .4);
}

/* .search_bx2 {
    display: none;
} */



/* Header right */

.header__right {
    height: 60px;
    line-height: 60px;
}


.header__right {
    display: flex;
}

.header__options {
    display: flex;
}

.header__options li
{
    margin: 0 0 0 30px;
    list-style: none;
}

.header__options a {
    font-size: 15px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.header__options button {
    background-color: #fff;
    border: none;
}

/* 
.btns-login--seperate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #333;
    height: 18px;
    right: 233px;
    top: 3%;
}  */

.nav-btns button {
    border: none;
    background-color: #fff;
}

.nav-btns button i {
}

/* Header second */
/* Dropdown menu */

.header__second .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content .dropdown-item {
    border: 1px solid #ecf0f1;
}

#navMenu a {
    padding: 12px 20px;
    white-space: nowrap;
    text-align: left;
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}

#navMenu ul > li > ul {
    top: 100%;
    border: 1px solid #ecf0f1;
    border-top: 2px solid #f15a29;
}


.header__second .dropdown-content {
    display: none;
    position: absolute;
    z-index: 9;
    background-color: #fff;
    padding: 0;
    list-style: none;
    left: 0;
    width: 200px;
    text-align: start;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-transform: uppercase;
    
}




/* css cá»§a web */
body{
    font-family: var(--sm-font);
}

/* button */
.bg-primary{
    background-color: var(--pink)!important;
}

/* .btn:not(.nav-btns button), */
.btn:not(.icon-fallback-text)
{
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
/* .btn:not(.nav-btns button):hover{ */
.btn:not(.icon-fallback-text):hover{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}

/* text color */
.text-primary{
    color: var(--pink)!important;
}

.navbar2{
    height: 50px;
}

.navbar-brand img{
    width: 100px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    -webkit-animation: sticky_header_animation .3s;
    -moz-animation: sticky_header_animation .3s;
    -ms-animation: sticky_header_animation .3s;
    -o-animation: sticky_header_animation .3s;
    animation: sticky_header_animation .3s;
}

.contact-box {
    margin-top: 110px
}

#home-slider {
    margin-top: 110px;
}

/* .navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
} */
/* .nav-link:hover{
    color: var(--pink)!important;
} */
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

.nav-item.active .nav-link{
    color: #f15a29!important;
    border-bottom: 2px solid #f15a29;
}




/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: #f15a29;
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.container .title,
.box-present .title {
    text-align: center;
    padding: 25px 0;
}

.title .viewall a {
    text-decoration: none;
    color: #333;
    opacity: 0.8;
    font-size: 13px;
}

/* collection */
/* .active-filter-btn{
    background-color: var(--pink)!important;
    color: #fff!important;
    border-color: var(--pink)!important;
}
.filter-button-group .btn:hover{
    color: #fff!important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
} */

/* special */
.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
}
.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

/* Shopping cart */
.shopping-cart .count-holder {
    position: absolute /*relative*/;
    top: -5px;
    font-size: 10px;
    text-align: center;
}

/* Blogs */


.blogs-view .post_featured {
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

.post_thumb {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.post_thumb img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.blogs-view .post_content {
    text-align: center;
}

.blogs-view .post_content h3 {
    font-size: 18px;
    line-height: 22px;
    position: relative;
    font-weight: 600;
}

.blogs-view .name-title {
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;

}

/* offers */
#offers{
    background: url(../images/website/banner/mau2.jpg) center/cover no-repeat;
}
#offers .row{
    min-height: 60vh;
}
.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 60px;
    font-family: var(--lg-font);
}
.offers-content .btn{
    border-color: transparent!important;
}

/* newsletter */
#newsletter{
    background-color: rgba(179, 179, 179, 0.05);
}
#newsletter p{
    max-width: 600px;
}
#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#newsletter .btn{
    background-color: #f15a29;
    color: #fff;
    border-color: #f15a29;
}
#newsletter .btn:hover{
    background-color: #000;
    border-color: #000;
}

/* footer */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
footer a:hover{
    color: var(--pink)!important;
    cursor: pointer;
}

/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}


/* Product new-sale */
/* .product-image .label {
    display: none;
} */

.label-product.new {
    content: "";
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    z-index: 2;
    background-image: url(https://cdn-icons-png.flaticon.com/512/199/199552.png);
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 50px;
    text-align: center;
    color: #fff;
}

.label-product.sale {
    content: "";
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    z-index: 2;
    background-image: url(https://img.freepik.com/premium-vector/up-fifty-percent-off-final-sale-icon-50-special-offer-discount-label-with-black-friday_206127-461.jpg?w=2000);
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 50px;
    text-align: center;
    color: #fff;
}

.label-product.sold-out {
    content: "";
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    z-index: 2;
    background-image: url(https://i.pinimg.com/originals/de/c8/19/dec81905ee90ac935ec2f91e9ece5ad3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 50px;
    text-align: center;
    color: #fff;
}



.product-image a picture {
    cursor: poiner!important;
}